---
import Layout from '../layouts/Layout.astro';
import TaxCalculator from '../components/TaxCalculator.astro';
import '../styles/global.css';
---

<Layout title="Tax Calculator">
  <main class="container">
    <TaxCalculator />
  </main>
</Layout>